<html>
  <head>
    <title>Backend</title>
    <link rel="stylesheet" href="/static/styles/register.css">
  </head>
  <body>
    <div class="container-form">
        <h1>Registrar Sensor</h1>
        <div class="register-form" style="display: table-caption;">
            <form action="{{ url_for('register') }}" method="post">
                <input required minlength="4" name="nome" class="register-input" type="text" placeholder="Nome" />
                
                <input required minlength="4" name="senha" class="register-input" type="password" placeholder="Senha" />
                
                <input required name="topico" class="register-input" type="text" placeholder="Topico MQTT" />
                
                <select required name="tipo_sensor" class="register-input">
                    <option value="" selected disabled hidden> Qual o tipo de sensor? </option>
                    {% for row in tipos_sensor %}
                    {% set id_tipo_sensor = row[0] %}
                    {% set tipo_sensor = row[1] %}
                    <option value="{{id_tipo_sensor}}" class="register-input">
                        {{tipo_sensor}}
                     </option>
                    {% endfor %}
                </select>

                <select required name="tipo_leitura" class="register-input">
                    <option value="" selected disabled hidden> Qual o tipo de leitura? </option>
                    {% for row in tipos_leitura %}
                    {% set id_tipo_leitura = row[0] %}
                    {% set tipo_leitura = row[1] %}
                    <option value="{{id_tipo_leitura}}" class="register-input">
                        {{tipo_leitura}}
                     </option>
                    {% endfor %}
                </select>
                
                <button class="register-btn" type="submit">
                    Registrar
                </button>
                {% if status == True %}
                <h1>Salvo com sucesso</h1>
                {% endif %}
                {% if status == False %}
                <h1>Ocorreu um erro ao salvar</h1>
                {% endif %}
            </form>
        </div>
    </div>
    </body>
</html>